.navbar {
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    gap: 10px;
    border-bottom: 1px solid var(--navy);
}

.rating-container {
    gap: 10px;
}

.box-button {
    border-radius: 5px;
    box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
}

.search-input {
    border-radius: 5px;
    box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
}

.rating-container,
.search-container,
.sort-container {
    width: 100%;
    max-width: 300px;
    max-width: 150px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container {
    min-width: 250px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.selected-rating {
    border: 2px solid black;
}

.rating {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
