<div class="outer-container d-flex justify-content-center">
  <app-dashboard [reviews]="reviews"></app-dashboard>
  <div class="sidebar-container">
    <app-sidebar [apps]="appNames" (appSelected)="appSelected($event)"></app-sidebar>
  </div>
  <div class="main-container d-flex column">
    <!-- <div class="navbar-container w-100">
      <app-navbar></app-navbar>
    </div> -->
    <div class="inner-container w-100">
      <app-main-page [appDetails]="apps" [appReviews]="reviews" [selectedApp]="selectedApp"></app-main-page>
    </div>
  </div>
</div>
