.dashboard-container {
    position: absolute;
    width: calc(100% - 20px);
    /* height: 100%; */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner-container {
    position: relative;
    background-color: var(--dark);
    border: 2px solid black;
    width: calc(100% - 50px);
}

.close-icon {
    background-color: tomato;
    font-weight: 800;
    padding: 10px;
}

.title-cotainer {
    padding-bottom: 10px;
}

.heading {
    background-color: var(--navy);
    color: white;
    padding: 0 0 0 10px;
}

.rating {
    gap: 20px;
}

.app {
    padding: 10px;
    border-bottom: 1px solid var(--navy);
}

.text {
    font-size: 12px;
}

.title {
    font-size: 18px;
}