:root {
    --light: #FFFFFF;
    --dark: #F4F3EF;
    --light-blue : #dfe5f3;
    --navy: #4d4dac;
    --white: #f5f5f5;
    --accent: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    user-select: none;
}

.container {
    padding: 20px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-0 {
    width: 0%;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-around {
    align-items: space-around;
}

.align-items-between {
    align-items: space-between;
}

.align-items-evenly {
    align-items: space-evenly;
}

.border-radius {
    border-radius: 5px;
}

.circle {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

button,
input {
    padding: 10px 15px;
    border: none;
    outline: none;
}

.shadow,
.shadows {
    box-shadow: 0 0 5px 2px grey;
}

.btn-primary {
    background-color: #4d4dac;
    background-color: #e7e7e7;
    color: #474747;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #4d4dac;
    color: black;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
}

.divider {
    background-color: #e7e7e7;
    height: 1px;
    width: 100%;
}